.App {
  width: 100%;
}

button {
  cursor: pointer;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.Nav span.arrow-button {
  color: #234044;
  background-color: #bdcbeb;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 100%;
  font-size: large;
}

.Nav .info {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #7251fe, #db3ebf 70%);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.Nav .info span {
  font-size: small;
  margin-left: 5px;
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .App {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
  .App {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 961px) {
  .App {
    width: 40%;
    margin: 0 auto;
  }
}
